{% extends "yvm/base.html" %}

{% load i18n %}


{% block main %}
    <section id="index_section">
        <div class="has-text-centered container is-max-desktop">
            <h2 class="title is-3 ">
                {% translate "Be ready for the European elections of June 2024" %}
            </h2>
            <h1 class="title is-3 pb-6">
                {% translate "Find out how the current Members of the European Parliament voted on 17 key recent votes and find your best match" %}
            </h1>
        </div>

        <div class="form_container pb-6">
            <form method="get">
                {% csrf_token %}
                <div class="field has-addons">
                    <div class="control">
                        <div class="select">
                            <select name="country" onchange="this.form.submit()">
                                <option value="selectCountry" selected disabled>{% translate 'Select a country' %}</option>
                                {% for value, label in countryform.fields.country.choices %}
                                    {% if value %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link">ok</button>
                    </div>                    
                </div>
            </form>
        </div>
        
        
    </section>


    
{% endblock %}






